<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Вычисление числа 𝛑 по разрядам</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="{{ url('bootstrap', filename='/css/bootstrap.css') }}">
</head>
<body>
<div class="container">
	<div class="row">
		<h1>Вычисление числа 𝛑 по разрядам</h1>
	</div>
	<div class="row" id="control">
		<form class="form-group" method="post" content="multipart/form-data">
			<input type="hidden" name="next_digit_number" value="{{ next_digit_number }}">
			<button class="btn btn-primary">Рассчитать {{ next_digit_number }} разряд</button>
		</form>
	</div>
	<div class="row">
		Этапы вычисления:
		<ol>
			{% for step in Progress %}
			<li class="list-inline-item">{{ step.name }}</li>
			{% endfor %}
		</ol>
	</div>
	<div class="row">
		{% if results_exists %}
		<table class="table">
			<thead>
				<tr>
					<th>Разряд</th>
					<th>Число</th>
				</tr>
			</thead>
			<tbody id="table">
				{% for digit_number, step, result in results %}
				<tr>
					<td><a href="{{ url('detail', digit_number=digit_number) }}">{{ digit_number }}</a></td>
					<td>
						{% if step != Progress.stored.value %}{{ Progress(step).name }}{% endif %}
						{% if result is not none and step != Progress.stored.value %}: {% endif %}
						{% if result is not none %}{{ result }}{% endif %}
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<p>Ни одного вычисления не выполнено. Нажмите кнопку "Рассчитать 1 разряд"</p>
		{% endif %}
	</div>
</div>
<script src="{{ url('monkberry', filename='/monkberry.js') }}"></script>
<script src="{{ url('self', filename='/view.js') }}"></script>
<script src="{{ url('self', filename='/life.js') }}" async></script>
</body>
</html>
